<!DOCTYPE html>
<html>
<head>
    <title>{{ employee.name }} - Details</title>
    {% include 'payroll/styles.html' %}
</head>
<body>
    <h1>{{ employee.name }} ({{ employee.employee_id }})</h1>
    <a href="{% url 'add_salary_structure' employee.employee_id %}">Add Salary Structure</a>
    
    {% if active_salary_structure %}
    <h2>Current Active Salary Structure</h2>
    <table border="2">
        <tr>
            <th>Effective Date</th>
            <th>End Date</th>
            <th>Basic Pay</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>{{ active_salary_structure.effective_date }}</td>
            <td>{{ active_salary_structure.end_date }}</td>
            <td>{{ active_salary_structure.basic_pay }}</td>
            <td>{{ active_salary_structure.description }}</td>
        </tr>
    </table>
    <table border="1">
        <tr>
            <th>Component</th>
            <th>Amount</th>
        </tr>
        {% for line in active_salary_structure.lines.all %}
        <tr>
            <td>{{ line.salary_component.name }}</td>
            {% if line.salary_component.component_type == "earning" %}
            <td style="color: green;">{{ line.amount }}</td>
            {% else %}
            <td style="color: crimson;">{{ line.amount }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <label>Gross Amount:</label>
    <span id="gross_salary">{{gross_salary|floatformat:2}}</span>
    <br>
    <label>Net Amount:</label>
    <span id="net_salary">{{net_salary|floatformat:2}}</span>
    {% endif %}

    <br><hr>

    {% if old_salary_structures %}
    <a href="{% url 'old_salary_structures' employee.employee_id %}">View Old Salary Structures</a>
    {% endif %}
    <p><a href="{% url 'employee_list' %}">Back to Employee List</a></p>
</body>
</html>
